body {
  background: linear-gradient(to bottom, #f0f2f0, #000c40);
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}

a {
  text-decoration:none;
}

h2 {
  font-family: 'Permanent Marker', cursive;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

ul {
  list-style: none;
}

li {
  display:incline-block;
}

div {
  background: linear-gradient(to top, #ee0979, #ff6a00);
  border: 1px solid grey;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin: 30px auto;
  width: 500px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px ;
}

.list-align {
  text-align: left;
}

ul li:before {
  content: '~  ';
}

.albums-pics {
  width: 200px;
  height: 200px;
  text-align: right;
}

.profile-picture {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  border: 10px;
}

#header {
  background: none;
  border: none;
}

#container {
  align-items: normal;
  width: 1000px;
}

#first {
  width: 400px;
  background: linear-gradient(to top, #654ea3, #eaafc8);
}

#second {
  width: 600px;
  background: linear-gradient(to top, #654ea3, #eaafc8);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}
